<!DOCTYPE html>
<html lang="en" ng-app="app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Guitab Writer - Dillon Ward</title>
      <!-- Bootstrap Core CSS -->
      <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- Theme CSS -->
      <link href="static/css/main.css" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
      <!-- Custom Fonts -->
      <link href="static/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="page-top" class="index" ng-controller="mainCtrl">
      <!-- Navigation -->
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand" href="#page-top">Guitab Writer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                     <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                     <a href="#tabwriter">Tab Writer</a>
                  </li>
                  <li class="page-scroll">
                     <a href="#about">About</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <!-- Header -->
      <header>
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <img class="img-responsive" src="static/img/profile.png" height = "150" width = "150"alt="">
                  <div class="intro-text">
                     <span class="name">Guitab Writer</span>
                     <hr class="star-light">
                     <span class="skills">Graphical User Interface Tab Writer</span>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Guitab Section -->
      <section id="tabwriter">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2>Tab Writer</h2>
                  <hr class="star-primary">
                  <div class = "wrapper"  >
                     <span ng-repeat="x in getNumber(6) track by $index"><br>
                     <button ng-click="writeTab($parent.$index, $index)" class = "fret" ng-repeat="x in getNumber(18) track by $index" style="background-image: url(static/img/fret.png)"></button>
                     </span>
                     <br>
                     <button class="btn btn-primary" ng-click="wait()" id="add" >Wait</button>
                     <button class="btn btn-primary" ng-click="clear()" id="add" >Clear</button>
                  </div>
               </div>
               <textarea readonly wrap = "off" id = "tabBody"  rows = "6"  cols="21" >E |{{tab.E}}&#13;&#10;A |{{tab.A}}&#13;&#10;D |{{tab.D}}&#13;&#10;G |{{tab.G}}&#13;&#10;B |{{tab.B}}&#13;&#10;e |{{tab.e}}</textarea>
               <button type="submit" class="btn btn-success btn-lg" data-toggle="modal" data-target="#saveModal">Save</button> 
               <button type="submit" class="btn btn-modal btn-lg" data-toggle="modal" data-target="#listModal">View Tabs</button>
               <div class="row">
                  <div class="form-group col-xs-12">
                     <!-- Modal -->
                     <div class="modal fade" id="saveModal" role="dialog">
                        <div class="modal-dialog">
                           <!-- Save Modal-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Enter Tab Name</h4>
                              </div>
                              <div class="modal-body">
                                 <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                       <label>Tab Name</label>
                                       <input type="text" class="form-control" placeholder="Tab Name" id="name">
                                    </div>
                                 </div>
                                 </br>
                                 <div class="row">
                                    <div class="form-group col-xs-12">
                                       <button type="submit" id = "savetab" class="btn btn-modal btn-lg" data-toggle="modal" data-dismiss="modal">Save</button>
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal fade" id="listModal" role="dialog">
                        <div class="modal-dialog">
                           <!-- List Modal-->
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 <h4 class="modal-title">Tabs</h4>
                              </div>
                              <div class="modal-body">
                                
                                 {% for t in tab %}
                                 <p>SONG NAME: {{ tab.name }}</p>
                                 {% endfor %}
                                 </br>                                    
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Section -->
      <section class="success" id="about">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <hr class="star-light">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-lg-offset-2">
                  <p>Guitab Writer is a Graphical User Interface Tab Writer that allows users to view a virtual Fretboard, allowing
                     them to click on frets and strings so that they can build their tab for songs.
                  </p>
               </div>
               <div class="col-lg-4">
                  <p>Guitab Writer was made for my Third Year Project for the Module Professional IT Skills. I used a template from a Bootstrap template.</p>
               </div>
               <div class="col-lg-8 col-lg-offset-2 text-center">
                  <a href="https://startbootstrap.com/template-overviews/freelancer/" target = "_blank"class="btn btn-lg btn-outline">
                  <i class="fa fa-download"></i> Download Theme
                  </a>
               </div>
            </div>
         </div>
      </section>
      <!-- Footer -->
      <footer class="text-center">
         <div class="footer-above">
            <div class="container">
               <div class="row">
                  <div class="footer-col col-md-4">
                     <h3>Module</h3>
                     <p>Professional IT Skills
                        <br>
                     </p>
                  </div>
                  <div class="footer-col col-md-4">
                     <h3>Around the Web</h3>
                     <ul class="list-inline">
                        <li>
                           <a href="https://github.com/DillonWard/Professional-IT-Project" class="btn-social btn-outline" target = "_blank"><i class="fa fa-fw fa fa-github"></i></a>
                        </li>
                        <li>
                           <a href="https://www.linkedin.com/in/dillon-ward-1523a2123?trk=nav_responsive_tab_profile" target = "_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                     </ul>
                  </div>
                  <div class="footer-col col-md-4">
                     <h3>About Guitab Writer</h3>
                     <p>Guitab Writer is a Graphical User Interface Web App that allows users to write
                        guitar tabs. Scripted using MongoDB, AngularJS, Express, Node.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-below">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     Dillon Ward - Guitab Writer - 2017
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
         <a class="btn btn-primary" href="#page-top">
         <i class="fa fa-chevron-up"></i>
         </a>
      </div>
      <!-- jQuery -->
      <script src="static/vendor/jquery/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <!-- Theme JavaScript -->
      <script src="static/js/freelancer.min.js"></script>
      <!-- AngularJS -->
      <script type="text/javascript" src = "static/bower_components/angular/angular.js"></script>
      <script src = "static/js/app.js"></script>
      <script src = "static/js/controllers.js"></script>
      <script src = "static/js/main.js"></script>
   </body>
</html>